header {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 5em;
}

.cabecalho {
    display: flex;
   background-color: #000;
   color: #FFF;
}

nav > a {
    color: #ffffff;
    margin: .5em;
    padding-right: 2em;
    text-decoration: none;
}

nav:hover {
    background-color: #fe0202;
}

img {
    padding-left: 2.5em;
}