header {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 5em;
}

.cabecalho {
  display: flex;
  background-color: #000;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
}

nav > a {
  color: #ffffff;
  padding: 2em;
  text-decoration: none;
}

:hover.button01 {
  background-color: #FFBF00;
  color: #000;
  padding: 2em;
}


:hover.button02 {
  background-color: #FFBF00;
  color: #000;
  padding: 2em;
}

:hover.button03 {
  background-color: #FFBF00;
  color: #000;
  padding: 2em;
}

img {
  padding-left: 2em;
}

