.principal2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.artigo2 {
    display: flex;
    height: 100vh;
}

.text2 {

}

.img2 {
    height: 80vh;
    width: 50vw;
    position: relative;
    bottom: 3em;
}