.principal2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.artigo2 {
    display: flex;
    height: 80vh;
}

.text2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text2 > p {
    margin-left: 5em;
    font-size: 1.5em;
    color: #000;
    word-wrap: break-word;
    width: 35em;

}

.img2 {
    height: 80vh;
    width: 30em;
    position: relative;
    bottom: 3em;
}

.button-calcular{
    padding: 8px 15px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #FFBF00, #F2A50C);
    color: #332200;
    font-size: 1em;
    font-weight: 600;
    margin-top: 20px;
    position: relative;
    top: 2.5em;
    text-decoration: none;
}