* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal3 {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
}

.artigo-3 {
    background-color: #9C9C9C;
    height: 15em;
    width: 20em;
    position: relative;
    top: 15em;
    left: 25em;
    border-radius: 10px 10px 10px 0px;
}

 h3 {
    text-indent: .4em;
    padding-top: 7px;
}

.cx-pai {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #9c9c9c9c;
}

.cx {
    flex: 1 1 calc(50% - 10px);
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #9c9c9c;
}

.opt {
    padding: .8em;
    width: 10em;
    border-radius: 5px;
}

.button-imc {
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #FFBF00, #F2A50C);
    color: #000000;
    font-size: 15px;
    position: relative;
    left: 6.5em;
    top: 6em;
}

.resultado {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5em 15em 7em 10em;
    box-shadow: 1px 3px 5px #000;
    height: 35vh;
    width: 35vw;
    float:right;
    h2 {
        margin: 1.5em;
    }
    p {
        margin: 1.5em;
        color: #000;
        
    }
}

.grafico-de-peso {
    display: flex;
    justify-content: center;
    margin-top: 2.5em;
    gap: 15px;
    p {
        color: #000;
    }
}

.grafico-de-peso2 {
    margin: 0 auto;
    width: 28em;
    display: flex;
    justify-content: center;
    margin-top: .4em;
    margin-bottom: 2em;
    border: 1.5px solid #000;
    border-radius: 16px;
    text-align: center;
    .blue {
        color: #000;
        background-color: #3362d0;
        padding: 0px 20px;
        border-bottom-left-radius: 7px;
        border-top-left-radius: 7px;
    }
    .green {
        color: #000;
        background-color: #01ad01;
        padding: 0px 20px;
    }
    .yellow {
        color: #000;
        background-color: #f3ef0d;
        padding: 0px 27px;
    }
    .orange {
        color: #000;
        background-color: #ff8c00;
        padding: 0px 20px;
    }
    .red {
        color: #000;
        background-color: #fc0000;
        padding: 0px 25px;
        border-bottom-right-radius: 7px;
        border-top-right-radius: 7px;
    }
}

.calcular-calorias {
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #FFBF00, #F2A50C);
    color: #000000;
    font-size: 15px;
    position: relative;
    left: 74.5em;
    top: 25em;
}