.container {
  background: #000000;
  height: 100vh;
}

.calorie-calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  height: 100vh;
}

.form-container,
h1,
p,
h3 {
  color: #ffffff;
}
.form-container h1 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 35px;
}
.respostas-imediadta {
  background-color: rgba(156, 156, 156, 0.5);
  padding: 15px;
  border-radius: 25px;
}
.respostas-imediadta h3 {
  text-align: center;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form div {
  margin: 5px;
}
input[type="text"] ,[type="number"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container button{
    padding: 8px 15px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #FFBF00, #F2A50C);
    color: #332200;
    font-size: 18px;
    margin-top: 20px;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
}
